@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
html, body {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  font-family: "Montserrat";
  font-weight: 400;
}

/* NAV */
nav.main {
  max-width: 940px;
  height: 60px;
  background-color: #FFFFFF;
  border: 10px;
  padding: 20px 15%;
  display: table;
  margin-bottom: 1px
}
.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
nav img {
  margin-left: 10px;
  height: 40px;
}
nav ul {
  list-style-type: none;
  text-align: right;
  margin-right: 0px;
}
nav ul li {
  display: inline-block;
  font-size: 14px;
  color: #00404E;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0px 0px 0px 20px;
  text-align: right;
}
nav ul li a {
  text-decoration: none;
  color: inherit;
}
nav ul li a:hover {
  border-bottom: 2.5px solid #00A3B2;
  color: #00A3B2;
}
nav.sticky {
  position: relative;
  width: 70%;
  z-index: 999;
}
.slicknav_menu {
  display: none;
}
.slicknav_btn{
  margin:5px 5px 6px;
  text-decoration:none;
  text-shadow:0 1px 1px rgba(255,255,255,.75);
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  background-color:#222
}
.slicknav_btn{
  position: relative;
  display:block;
  vertical-align:middle;
  float:right;
  padding:.438em .625em;
  line-height:1.125em
}
.slicknav_nav .slicknav_row,.slicknav_nav a{
  padding:5px 0px 5px 10px;
  margin:2px 5px
}

/* Banner */
#banner {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  background-color: #000000;
}
#banner .video {
  width: 100%;
  zoom: 50%;
}
#banner-text {
  position: absolute;
  top: 73%;
  right: 15%;
  -webkit-transform: translateY(-73%);
  -ms-transform: translateY(-73%);
  transform: translateY(-73%);
  color: #FFFFFF;
}

/* Video */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
    margin-top: 20px; 
    margin-bottom: 30px;
}
.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
}
iframe {
  max-width: 95%;
}
video {
  display: block;
}

/* Text & Content */
#main-content {
  padding: 50px 0px;
}
.main-text h6 {
  padding: 0 5px;
  font-size: 1.2em;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vcenter h1 {
  font-weight: 600;
  font-size: 48px;
}
.text-vcenter button {
}
.text-container {
  position: absolute;
  top: 50%;
  left: 15%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: white;
}

/* Other Styling */
.items {
  display: table-cell;
  vertical-align: middle;
}
ul {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}
.book-btn {
  width: 120px;
  height: 120px;
  background-color: #00A3B4;
  border-radius: 50%;
  color: #FFFFFF;
  text-align: center;
  padding: 0px 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
  text-transform: none;
  white-space: normal;
  border: none;
  box-sizing: border-box;
}
.book-btn:hover {
    background-color: #003F4E !important;
    font-weight: 400;
    color: #FFFFFF;
}
#appt-bg {
  background: url('../images/appt-banner.png') no-repeat center center;
  display: table;
  color: #ffffff;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#contact input {
  padding: 5px;
}
.services-logo {
  width: 100%;
  height: 100%;
}
.time {
  margin-left: 15px;
  display: inline;
  font-weight: normal;
}
.image-circle {
  border-radius: 50%;
}
.image-banner {
  width: 100%;
  height: 70%;
  margin: 0;
  padding: 0;
}
.footer {
  width: 100%;
  background-color: #F4F4F4;
  padding: 20px 0px;
}
.footer i {
  color: #00A3B4;
  margin: 0px 10px;
}
.footer i:hover {
    color: #003F4E;
}
.copyright {
  background-color: #003F4E;
  color: white;
  padding: 10px 0px;
}


@media only screen and (max-device-width: 1060px) {
  #banner {
    padding-top: 450px;
    background: url('../images/appt-banner.png') no-repeat center center scroll ;
    background-size: 100%;
    zoom: 75%;
  }
  .video {
    display: none;
  }
  #menu {
    display: none;
  }
  .slicknav_menu {
    display: block;
    background: none;
  }
}

@media screen and (max-width: 1060px) {
  #menu {
    display: none;
  }
  .slicknav_menu {
    display: block;
    background: none;
  }
  .row {
    padding-left: 0;
    padding-right: 0;
  }
}
